@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url(./normalize.css);



:root{
    --colorfont: #301c6b;
    --ff-text: "DM Sans", sans-serif;    
    --primary-color-500: #673de6;
    --primary-color-600: #2f1c6a;
    --primary-color-700: #1f1346;

}



.content-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    background-color: white;
    position: sticky;
    top: 0;
    right: 0;  
}

.nav-container{
    display: flex;
    padding: 20px 40px;
    width: 100vw;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    top: 0;
    right: 0;
    z-index: 3;
}


.content-header img{
    width: 30px;
}
.btn-Login{
    padding: 12px 16px;
    border: 2px solid;
    border-radius: 8px;
    background-color: white;
}

.h-svgo-icon--small{
    height: 16px;
    min-width: 16px;
    width: 16px;
}
    
.content-header a{
    text-decoration: none;
}

.btn-menu{
    display: none;
}

.hero-container{
    /* width: 100vw; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: var(--colorfont);
    gap: 20px;
    align-items: center;
    padding: 36px 0;
}

.hero-container--text{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

.hero-container--text h6{
    display: flex;
    flex-direction: column;
}

.hero-container--check-list i{
    color: #00b090;    
}

.hero-container--check-list div{
    display: flex;
    flex-direction: row;
}

.price-container{
    display: flex;
    flex-direction: row;    
}
.hero-container img{
    width: 616px ;
    height: 403.2px;
}

.hero-container button{
    padding: 12px;
    background-color: #673de6;
    color: white;
    border-radius: 5px;
}

.hero-container button a{
    color: white;
    text-decoration: none;
}


.hero-container svg{
    margin: 1px;    
}

@media screen and (max-width: 750px) {
    .content-header nav{
        display: none;
        
    }   
    .content-header div{
        display: none;
    }
    .btn-menu{
        display: flex;
    }

    .hero-container{
        flex-direction: column;
    }

    .hero-container img{
        width: 100% ;
        height: 100%;
    }
    
}


.section-container{
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
}

.section-container--bg-dark{
    background-color: var(--primary-color-700);
    color: white;
}

.section-content{
    max-width: 1128px;
    padding: 50px 0;
}

.titulo-texto{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
    margin-bottom: 50px;
}

.titulo-principal{
    font-size: 30px;
    font-weight:900;
}

.articles-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    width: 100%;
}

.article-card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex: 1;
    background-color: white;
    color: var(--primary-color-600);
    padding: 25px;
    border-radius: 10px;
    gap: 20px;
    max-height: 400px;
    overflow-y: auto;
}

.article-card--dark{
    background-color: var(--primary-color-600);
    color: white;
}

.text-size-p{
    font-size: 16px;
}

.text-size-h{
    font-size: 18px;
}

.icon{
    height: 35px;
    width: 30px;
    border-radius: 5px;
    background-color: var(--primary-color-500);
    padding: 10px 7px;
}

.contenedor-boton{
    margin: 20px;
    padding: 20px;
    display: flex;
    justify-content: center;
}



.btn-primary{
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 40px;
    background-color: var(--primary-color-500);
    font-weight: 700;
    color: white;
}

a:hover{
    background-color: #4524aa;
}

.text-m{
    font-size: 16px;
    text-align: justify;
    line-height: 24px;
}

@media screen and (max-width: 750px) {
    .articles-container{
        flex-direction: column;
    }
    .section-content{
        max-width: 688px;
    }
}


@media screen and (max-width: 750px) {
    .section-content{
        max-width: 508px;
    }
}



.footer-container{ 
    display: flex;
    flex-direction: Column;
    justify-content: space-between;
    background-color: #f5f6ff;
    width: 100%;
    padding: 56px;
}
.social-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.social-icon{
    display: flex;
    justify-content: flex-end;
    gap: 16px;
   
}

.payment-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 20px;
    width: 100%;
}

.payment-container-cards{
    display: flex;
    align-items: center;
    border-radius: 6px;
    width: 100%;
}
.cards-container img{
    width: 60px;
    height: 40px;
    border: 1px solid #d5dfff;
}
.cards-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.payment-container-cards a{
    text-decoration: none;
}

.politics-container{
    display: flex;
    flex-direction: row;
    gap: 16px;  
}

.politics-container a{
    text-decoration: none;
}

.legals-container{
    display: flex;
    justify-content: space-between;
    font-family: #f5f6ff;
    font-size: 14px;
    padding: 20px;
    border-top: 2px solid #d6e0ff;
}

@media screen and (max-width: 750px){
    .social-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
    }
    .social-icon{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        padding: 16px;
    }
    

    .payment-container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: space-between;
        gap: 8px;        
    }

    .cards-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100px;
    }

    .legals-container{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    
}

.chat-kodee{
    height:  40px;
    background-color: var(--primary-color-500);
    display: flex;
    color: white;
    position: fixed;
    justify-content: center;
    align-items: center;
    bottom: 15px;
    right: 10px;
    padding: 8px 16px 8px 8px;
    border-radius: 100px;

}




